* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

body {
    font-family: 'Anton', sans-serif;
    background-image: url('../img/vector.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
}

.password {
    text-align: center;
    padding: 200px;
}
.titolo {
    text-align: center;
    margin-top: 100px;;
}

.description {
    margin: auto auto 0;
}

.description h1 {
    background-color: white;
    color: black;
    text-align: center;
    transition: transform 300ms;
}

.description h1:hover {
    transform: scale(3);
}

.bigbox {
    display: flex;
    height: 50vh;
    justify-content: center;
    flex-direction: column;
}



