* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

body {
    font-family: 'Anton', sans-serif;
    background-image: url('../img/vector.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
}

.password {
    text-align: center;
    padding: 200px;
}

.titolo h1 {
    background-color: white;
    color: black;
    text-align: center;
    transition: transform 3s;
}

.titolo h1:hover {
    transform: scale(3);
}

.bigbox {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}



